@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    425 E Fremont Pl.<br />
    Milwaukee, WI 53207<br />
    <abbr title="Phone">P: </abbr>
    414-867-5309
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:chad.hilke@gmail.com">Support@example.com</a><br />
</address>