@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SupportYourSite</h1>
    <p class="lead">SupportYourSite is a Web site where you can give to your favorite podcasters, bloggers, or other content producers.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>RadioLab</h2>
        <p>
            Radiolab is a show about curiosity. Where sound illuminates ideas, and the boundaries blur between science, philosophy, and human experience.<br /><br />

            Radiolab is heard around the country on more than 500 member stations. Check your <a href="http://www.radiolab.org/stations/">local station</a> for airtimes.
        </p>
        <p><a class="btn btn-default" href="http://www.radiolab.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dan Carlin's Hardcore History</h2>
        <p>In "Hardcore History" journalist and broadcaster Dan Carlin takes his "Martian", unorthodox way of thinking and applies it to the past. Was Alexander the Great as bad a person as Adolf Hitler? What would Apaches with modern weapons be like? Will our modern civilization ever fall like civilizations from past eras? This isn't academic history (and Carlin isn't a historian) but the podcast's unique blend of high drama, masterful narration and Twilight Zone-style twists has entertained millions of listeners.</p>
        <p><a class="btn btn-default" href="http://www.dancarlin.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tank Riot</h2>
        <p>Welcome to Tank Riot! Tank Riot is a never dull audio podcast (a.k.a. netcast) that digs deep into the minds of Viktor, Sputnik, and Tor. Recorded in tropical Madison, Wisconsin; each show starts you on a winding audio journey with a destination far from home. So secure your helmet, close the hatch, and by all means turn up the volume. </p>
        <p><a class="btn btn-default" href="http://www.tankriot.com">Learn more &raquo;</a></p>
    </div>
</div>