
@{
    ViewBag.Title = "DonationSuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DonationSuccessView</h2>
<p>Thank you for donating</p>
@Html.ActionLink("Home", "Index", "Home") |
@Html.ActionLink("Back to sites", "Index", "Websites")
